<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{err}} {{pref}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/err-page.css">
    </head>
    <body>
        <div class="container">
            <h1>{{err}}</h1>
            <a href="/">HOME</a>
        </div>
    </body>
</html>