<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mangoz1x - Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/sidenav.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="top-nav extra-p">
            <div class="section-right">
                <a href="/login" class="btn-sec-r btn-def">Sign In</a>
                <a href="/signup" class="btn-sec-r btn-main">Sign Up Free</a>
            </div>
        </div>

        <div class="container">
            <section class="section-index center-items">
                <div class="title-container">
                    <div class="title">
                        <h1>Free, fast, secure file uploading</h1> 

                        <div class="button-title">
                            <button onclick="window.location.href = '/signup'">Try it free</button>
                            <button onclick="window.location.href = '/login'">Sign in</button>
                        </div> 
                    </div>
                    <div class="image-title">
                        <img src="/img/files.svg">
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>